[submodule "pack/plugins/opt/plenary.nvim"]
	path = pack/plugins/opt/plenary.nvim
	url =https://github.com/nvim-lua/plenary.nvim
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/plugins/start/coc.nvim"]
	path = pack/plugins/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/plugins/opt/diffview.nvim"]
	path = pack/plugins/opt/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim 
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/plugins/start/localvimrc"]
	path = pack/plugins/start/vim-localvimrc
  url = https://github.com/embear/vim-localvimrc
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-gutentags"]
	path = pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-visual-multi"]
	path = pack/plugins/opt/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "pack/typescript/start/typescript-vim"]
	path = pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/plugins/start/plantuml-previewer"]
	path = pack/plugins/start/plantuml-previewer
	url = https://github.com/weirongxu/plantuml-previewer.vim
[submodule "pack/plugins/start/plantuml-syntax"]
	path = pack/plugins/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "pack/plugins/start/vim-auto-save"]
	path = pack/plugins/start/vim-auto-save
	url = https://github.com/907th/vim-auto-save
[submodule "pack/plugins/start/vim-gh-line"]
	path = pack/plugins/start/vim-gh-line
	url = https://github.com/ruanyl/vim-gh-line
[submodule "pack/plugins/start/vim-graphql"]
	path = pack/plugins/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "pack/plugins/start/vim-liquid"]
	path = pack/plugins/start/vim-liquid
	url = https://github.com/tpope/vim-liquid
[submodule "pack/plugins/start/copilot.vim"]
	path = pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "pack/plugins/start/vim-dadbod"]
	path = pack/plugins/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "pack/plugins/start/vim-dadbod-ui"]
	path = pack/plugins/start/vim-dadbod-ui
	url = https://github.com/kristijanhusak/vim-dadbod-ui
[submodule "pack/plugins/start/vim-dotenv"]
	path = pack/plugins/start/vim-dotenv
	url = https://github.com/tpope/vim-dotenv
[submodule "pack/plugins/start/vim-prettier"]
	path = pack/plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "pack/plugins/start/papercolor-theme"]
	path = pack/plugins/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/start/vim-css-color"]
	path = pack/plugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/plugins/start/aider.nvim"]
	path = pack/plugins/start/aider.nvim
	url = https://github.com/joshuavial/aider.nvim.git
[submodule "pack/plugins/start/vim-wakatime"]
	path = pack/plugins/start/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime
[submodule "pack/plugins/start/black"]
	path = pack/plugins/opt/black
	url = https://github.com/psf/black
